<%- include('../layout/headerAdmin') %>

  <%- include('../layout/sidebarAdmin') %>

    <div class="col py-3">
      <h4 id="products-heading">Add Coupon</h4>
      <% if (locals.message) { %>
        <h7 style="color: red;">
          <%= message %>
        </h7>
        <% } %>
          <h5></h5>
          <form action="/admin/add-coupons" method="post">
            <div class="form-group row">
              <label for="coupon_name" class="col-sm-2 col-form-label">Coupon Name:</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="category_name">
                <% if (locals.errors && locals.errors.name) { %>
                  <span class="text-danger" id="errors-name">
                    <%= errors.name.msg %>
                  </span>
                  <% } %>
              </div>
              <label for="amount" class="col-sm-2 col-form-label">Amount:</label>
              <div class="col-sm-10">
                <input type="text" name="amount" class="form-control" id="brand" o>
                <% if (locals.errors && locals.errors.amount) { %>
                  <span class="text-danger" id="errors-amount">
                    <%= errors.amount.msg %>
                  </span>
                  <% } %>
              </div>

              <label for="maxUsage" class="col-sm-2 col-form-label">Max.Usage</label>
              <div class="col-sm-10">
                <input type="text" name="maxUsage" class="form-control" id="maxUsage">
                <% if (locals.errors && locals.errors.maxUsage) { %>
                  <span class="text-danger" id="errors-maxUsage">
                    <%= errors.maxUsage.msg %>
                  </span>
                  <% } %>
              </div>

              <label for="expiresAt" class="col-sm-2 col-form-label">Expiry Date</label>
              <div class="col-sm-10">
                <input type="text" name="expiresAt" class="form-control" id="expiresAtInput">
                <% if (locals.errors && locals.errors.expiresAt) { %>
                  <span class="text-danger" id="errors-expiresAt">
                    <%= errors.expiresAt.msg %>
                  </span>
                  <% } %>
              </div>


              <label for="product_description" class="col-sm-2 col-form-label">Description:</label>
              <div class="col-sm-10">
                <input type="text" name="description" class="form-control id=" description">
                <% if (locals.errors && locals.errors.description) { %>
                  <span class="text-danger" id="errors-description">
                    <%= errors.description.msg %>
                  </span>
                  <% } %>
              </div>
            </div>

            <center>
              <button type="submit" class="text-center mt-4 btn btn-success">Submit</button>
            </center>
          </form>

          <a href="/admin/coupons-view">Back to coupon view</a>

    </div>

    <%- include('../layout/footerAdmin') %>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

      <script>
        $(function () {
          $("#expiresAtInput").datepicker({
            dateFormat: "yy-mm-dd", // Set the desired date format
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
          });
        });
      </script>

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          // Get all input elements
          const inputElements = document.querySelectorAll('input');
  
          // Add event listener for the 'focus' event on each input element
          inputElements.forEach(function (input) {
            input.addEventListener('focus', function () {
              const fieldName = input.name;
              const errorElement = document.querySelector(`#errors-${fieldName}`);
  
              // Clear the error message when the input field gains focus
              if (errorElement) {
                errorElement.innerText = '';
              }
            });
          });
        });
      </script>
  