<%- include('../layout/headerAdmin') %>
    <%- include('../layout/sidebarAdmin') %>

        <div class="col py-3">


            <div class="container">
                <div class="mt-4">
                    <h4 id="products-heading">Coupons View</h4>
                    <div class="row my-4">
                        <div class="col-lg-12"> <!-- Adjust the column width as needed -->
                            <form action="/admin/addCoupon-view"" class=" ml-auto" method="get">
                                <button class="btn btn-primary float-end">Add Coupons</button>
                            </form>
                        </div>
                    </div>

                    <div class="filter-sort-options d-flex justify-content-between">
                        <form action="/admin/category-search" method="post" class="form-inline" style="display:flex">
                            <input name="searchKey" class="form-control mr-sm-2" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <% if (locals.coupons) { %>
                                    <table class="table table-striped text-center">
                                        <thead>
                                            <tr class="table-dark">
                                                <th>S/N</th>
                                                <th>Coupon Name</th>
                                                <th>Amount</th>
                                                <th>Max Usage </th>
                                                <th>Current Usage</th>
                                                <th>Created</th>
                                                <th>Expiry</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% coupons.forEach((coupon,index)=> { %>
                                                <tr class="align-middle mt-5">
                                                    <td>
                                                        <%= index+1 %>
                                                    </td>
                                                    <td>
                                                        <%= coupon.name %>
                                                    </td>
                                                    <td>
                                                        <%= coupon.amount %>
                                                    </td>
                                                    <td>
                                                        <%= coupon.maxUsage %>
                                                    </td>

                                                    <td>
                                                        <%= coupon.usageCount %>
                                                    </td>

                                                    <td>
                                                        <%= coupon.createdAt.toLocaleDateString('en-US') %>
                                                    </td>
                                                    <td>
                                                        <%= coupon.expiresAt.toLocaleDateString('en-US') %>
                                                    </td>
                                                    <td>
                                                        <a href="/admin/view-edit-coupon-page/<%= coupon._id %>"
                                                            class="text-success"><i
                                                                class="fas fa-edit fa-lg mx-1"></i></a>
                                                        <a href="/admin/deleteCoupon/<%= coupon._id %>"
                                                            class="text-danger"
                                                            onclick="return confirm('Are you sure want to delete this coupon?')"><i
                                                                class="fas fa-trash fa-lg mx-1"></i></a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        </div>
        </div>





        <%- include('../layout/footerAdmin') %>