<%- include('../layout/headerAdmin') %>
    <%- include('../layout/sidebarAdmin') %>

        <div class="col py-3">
            <div class="container">
                <div class="mt-4">
                    <h3 id="products-heading">Orders</h3>



                    <div class="row my-4">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <% if (locals.orders) { %>
                                    <table class="table table-boardered text-center" id="productTables">
                                        <thead>
                                            <tr class="table-success">
                                                <th>S/N</th>
                                                <th>Customer Id</th>
                                                <th>inv#</th>
                                                <th>Order Date</th>
                                                <th>Price</th>
                                                <th>Method</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                                <% orders.forEach((order,index)=> { %>
                                                    <tr class="align-middle mt-5">
                                                        <td>
                                                            <%=  index +1 %>
                                                        </td>
                                                        <td>
                                                            <%= order.User_id %>
                                                        </td>
                                                        <td>
                                                            <%= order.invoiceNumber %>
                                                        </td>
                                                        <td>
                                                            <%= (order.Order_date).toLocaleDateString('en-GB') %>
                                                        </td>
                                                        
                                                        <td>
                                                            ₹<%= formatPrice(order.total_price ) %>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <%= order.payment_method %>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <%= order.Status %>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="/admin/orders-detailed-view?orderId=<%= order._id %>"><input
                                                                    type="button" class="btn btn-primary"
                                                                    value="view"></a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                        </tbody>
                                    </table>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <script  src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
            <script>
                let table = new DataTable('#productTables', {
                    "columnDefs": [
                        { "orderable": false, "targets": [ 6 ] } // Assuming 0 is the S/N column and 7 is the Action column
                    ]
                });

            </script>




            <%- include('../layout/footerAdmin') %>