<%- include('layout/headerAdmin') %>
    <%- include('layout/sidebarAdmin') %>

        <div class="col py-3">

            <% ordersData.forEach((order,index)=> { %> <!-- Iterate over ordersData -->

                <div class="order-container">
                    <h5>Order Details</h5>

                    <div class="order-outline">
                        <div class="deliver-address">
                            <h4>Delivery Address</h4>
                            <h6>
                                <%= order.address.Name %>
                            </h6>
                            <p><span>
                                    <%= order.address.Address %>,
                                </span><span>
                                    <%= order.address.City %>-
                                </span><span>
                                    <%= order.address.Pincode %>
                                </span></p>
                            <p>
                                <%=order.address.State %>
                            </p>
                            <p>Phone Number :<%= order.address.ContactNumber %>
                            </p>
                        </div>
                        <div>
                            <h4>Order Status</h4>
                            <div id="order-status">
                                <p style="display: inline-block;">Order : <%= order.Status %>
                                </p>
                            </div>



                            <p>Order date :<%= order.OrderDate %>
                            </p>
                            <p>Payment method :<%= order.payment_method %>
                            </p>
                            <div id="payment-status">
                                <p style="display: inline-block;">Coupon Applied :<%= order.coupon_name %>
                                </p>
                            </div>
                        </div>
                        <div class="order-cancel-button-container">
                            <h6>Order Status</h6>
                            <div style="display: inline-block;">
                                <select id="orderStatus" data-order-id="<%= order.collectionId %>">
                                    <option value="pending" <%=order.Status==="Placed" ? "selected" : "" %>>Placed
                                    </option>
                                    <option value="delivered" <%=order.Status==="Pending" ? "selected" : "" %>>Pending
                                    </option>
                                    <option value="delivered" <%=order.Status==="Delivered" ? "selected" : "" %>
                                        >Delivered</option>
                                    <option value="delivered" <%=order.Status==="Cancelled" ? "selected" : "" %>
                                        >Cancelled</option>
                                    <option value="delivered" <%=order.Status==="Deleted" ? "selected" : "" %>>Deleted
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="order-cancel-button-container">
                            <h6>Payment Status</h6>
                            <div style="display: inline-block;">
                                <select id="paymentStatus" data-order-id="<%= order.collectionId %>">
                                    <option value="pending" <%=order.payment_status==="Completed" ? "selected" : "" %>
                                        >Completed</option>
                                    <option value="delivered" <%=order.payment_status==="Pending" ? "selected" : "" %>
                                        >Pending</option>
                                    <option value="delivered" <%=order.payment_status==="Refund" ? "selected" : "" %>
                                        >Refund</option>

                                </select>

                            </div>
                        </div>

                    </div>
                    <% order.productsArray.forEach(product=> { %>
                        <section class="order">

                            <div>
                                <img class="order-image" src="<%= imgUri + product.imageUrl %>" alt="Image">

                            </div>
                            <div>
                                <p>
                                    <%= product.product_name.slice(0,20) %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    color: <%= product.color %>
                                </p>
                            </div>

                            <div>
                                <p>
                                    <%= product.quantity %> No
                                </p>
                            </div>
                            <div>
                                <p>Price: $<%= formatPrice(product.price)%>
                                </p>
                            </div>

                        </section>
                        <% }) %>
                        <section class="order-total">
                            <p class="discount-paragraph">Discount Applied: <span class="order-total-price">$ <%= formatPrice(order.coupon_amount) %>
                            </span></p>
                            <p>Total Order price(including delivery charge): <span class="order-total-price">$ <%= formatPrice(order.totalPrice) %>
                                        </span></p>
                        </section>
                </div>
                <% }) %>


                    <a href="/admin/orders-view"><input type="button" class="btn btn-link"
                            value="Back to orders View"></a>



        </div>

        <script>
            // Get a reference to the select element
            var orderStatusSelect = document.getElementById("orderStatus");
            var paymentStatusSelect =document.getElementById('paymentStatus');

            var orderId = orderStatusSelect.getAttribute("data-order-id");

            // Add an event listener to log the selected option to the console
            orderStatusSelect.addEventListener("change", function () {
                var selectedOption = orderStatusSelect.options[orderStatusSelect.selectedIndex].text;
                var orderStatus = document.getElementById('order-status');
                if (confirm("Are you sure you want to change the order status to '" + selectedOption + "'?")) {
                    fetch('/admin/change-order-status', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ selectedOption, orderId }),
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log("Status changed Sucessfully");
                                orderStatus.innerHTML = 'Order is' + " " + selectedOption;

                            } else {
                                throw new Error('Network response was not ok.');
                            }
                        })
                }
            });

            // Add an event listener to log the selected option to the console
            paymentStatusSelect.addEventListener("change", function () {
                var selectedPaymentOption = paymentStatusSelect.options[paymentStatusSelect.selectedIndex].text;
                var paymentStatus = document.getElementById('payment-status');
                if (confirm("Are you sure you want to change the order status to '" + selectedPaymentOption + "'?")) {
                    fetch('/admin/change-payment-status', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ selectedPaymentOption, orderId }),
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log("Status changed Sucessfully");
                                paymentStatus.innerHTML = 'Payment  :' + " " + selectedPaymentOption;

                            } else {
                                throw new Error('Network response was not ok.');
                            }
                        })
                }
            });
        </script>


        </div>
        </div>
        </div>