<%- include('layout/headerAdmin') %>
    <%- include('layout/sidebarAdmin') %>


        <div class="col py-3">

            <div class="container">
                <div class="mt-4">
                    <h4>Categories</h4>
                    <div class="row my-4">
                        <div class="col-lg-12"> <!-- Adjust the column width as needed -->
                            <form action="/admin/add-category-page" class="ml-auto" method="get">
                                <button class="btn btn-primary float-end">Add Category</button>
                            </form>
                        </div>
                    </div>


                    <div class="row my-4">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <% if (locals.categories) { %>
                                    <table class="table table-boarderd text-center" id="myTables">
                                        <thead>
                                            <tr class="table-success">
                                                <th>S/N</th>
                                                <th>Category Name</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <% categories.forEach((category,index)=> { %>
                                                    <tr class="align-middle">
                                                        <td>
                                                            <%= 1 + index %>
                                                        </td>
                                                        <td>
                                                            <%= category.category_name %>
                                                        </td>
                                                        <td>
                                                            <%= category.description %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/edit-categoriy-page/<%= category._id %>"
                                                                class="text-success"><i
                                                                    class="fas fa-edit fa-lg mx-1"></i></a>

                                                            <a class="text-danger"
                                                                onclick="handleDelete('<%= category._id %>')"><i
                                                                    class="fas fa-trash fa-lg mx-1"></i></a>

                                                            <div id="modal<%= category._id %>" class="modal">
                                                                <span
                                                                    onclick="document.getElementById('modal<%= category._id %>').style.display='none'"
                                                                    class="close" title="Close Modal">×</span>
                                                                <form class="modal-content"
                                                                    action="/admin/deleteCategories/<%= category._id %>">
                                                                    <div class="modal-container">
                                                                        <h1>Delete Account</h1>
                                                                        <p>Are you sure you want to delete this
                                                                            Category?
                                                                        </p>

                                                                        <div class="clearfix">
                                                                            <button type="button"
                                                                                onclick="document.getElementById('modal<%= category._id %>').style.display='none'"
                                                                                class="cancelbtn">Cancel</button>
                                                                            <button type="submit"
                                                                                onclick="document.getElementById('modal<%= category._id %>').style.display='none'"
                                                                                class="deletebtn">Delete</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                        </tbody>
                                    </table>
                                    <% } %>

                            </div>
                        </div>
                    </div>



                    <script>
                        function handleDelete(categoryId) {
                            const modalDiv = document.getElementById('modal' + categoryId);
                            modalDiv.style.display = 'block';
                        }
                    </script>
                    <script>
                        // When the user clicks anywhere outside of a modal, close it
                        window.onclick = function (event) {
        <% categories.forEach(category => { %>
            var modal<%= category._id %> = document.getElementById('modal<%= category._id %>');
                            if (modal <%= category._id %> && event.target === modal <%= category._id %> ) {
                                modal <%= category._id %>.style.display = "none";
                            }
        <% }); %>
    }
                    </script>

                    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
                    <script>
                        let table = new DataTable('#myTables', {
                            "columnDefs": [
                                { "orderable": false, "targets": [3] } // Assuming 0 is the S/N column and 7 is the Action column
                            ]
                        });

                    </script>




                    <%- include('layout/footerAdmin') %>