<%- include('layout/headerAdmin') %>
    <%- include('layout/sidebarAdmin') %>



        <div class="col py-3">


            <div class="container primary">
                <div class="row">
                    <div class="col-lg-6 mx-auto mt-4">
                        <div class="card shadow">
                            <div class="card-header bg-success">
                                <h3 class="text-light">Edit Category </h3>
                            </div>
                            <div class="card-body p-4">
                                <form action="/admin/editCategories/<%= category._id %>" method="post" id="add-form">
                                    <div class="mb-3">
                                        <label for="name">Name</label>
                                        <input type="text" name="category_name" value="<%= category.category_name %>"
                                            class="form-control form-control-lg" placeholder="Enter Name" required />
                                    </div>
                                    <div class="mb-3">
                                        <label for="email">Description</label>
                                        <input type="text" name="description" value="<%= category.description %>"
                                            class="form-control form-control-lg" placeholder="Enter Email" required />
                                    </div>
                                    <div class="mb-3 d-grid">
                                        <input type="submit" name="submit" value="submit"
                                            class="btn btn-success btn-lg" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>



        <%- include('layout/footerAdmin') %>