<%- include('layout/headerAdmin') %>
  <%- include('layout/sidebarAdmin') %>



    <div class="col py-3">


      <div class="container primary">
        <div class="row">
          <div class="col-lg-12 mx-auto mt-4">
            <div class="card shadow">
              <div class="card-header bg-success">
                <h3 class="text-light">Edit Product </h3>
              </div>
              <div class="card-body p-4">
                <form action="/admin/editProducts/<%= product._id %>" method="post" id="add-form"
                  enctype="multipart/form-data">

                  <div class="form-group row">
                  </div>
                  <div class="form-group row">
                    <label for="product_name" class="col-sm-2 col-form-label">Product Name:</label>
                    <div class="col-sm-10">
                      <input type="text" name="product_name" value="<%= product.product_name %>" class="form-control"
                        id="category_name">
                    </div>
                    <label for="category_description" class="col-sm-2 col-form-label">Select category:</label>
                    <div class="col-sm-10">
                      <select name="categoryId" id="" class="form-control">
                        <option value="">Select Category</option>
                        <% for(let category of categories) {%>
                          <option value="<%= category.id %>">
                            <%= category.category_name %>
                          </option>
                          <%} %>
                      </select>
                    </div>
                    <label for="brand" class="col-sm-2 col-form-label">Brand:</label>
                    <div class="col-sm-10">
                      <input type="text" name="brand" value="<%= product.brand %>" class="form-control" id="brand">
                    </div>

                    <label for="color" class="col-sm-2 col-form-label">Color:</label>
                    <div class="col-sm-10">
                      <input type="text" name="color" value="<%= product.color %>" class="form-control" id="brand">
                    </div>

                    <label for="image" class="col-sm-2 col-form-label">Image:</label>
                    <div class="col-sm-10">
                      <input type="file" name="image" class="form-control" id="image" multiple>
                    </div>
                    <div style="margin-left: 17%;margin-top: 5%;margin-bottom: 5%;" class=" d-flex">

                      <% for (let i=0; i < product.imageUrl.length; i++) { %>
                        <img src="http://localhost:5000/<%= product.imageUrl[i] %>" style="height: 40px;width: 60px;"
                          alt="image">
                        <a href="/admin/deleteImages?index=<%=[i] %>&&productid=<%=product._id  %>" class="text-danger"
                          onclick="return confirm('Are you sure want to delete this product?')"><i
                            class="fas fa-trash fa-lg mx-1"></i></a>
                        <% } %>

                          <!-- <% product.imageUrl.forEach((image,index) => { %>
                                 <img src="http://localhost:5000/<%= image %>" style="height: 40px;width: 60px;" alt="image">
                                 <div>
                                 <a href="/admin/deleteImages/<%= index %>/<%= product._id %>"class="text-danger" onclick="return confirm('Are you sure want to delete this product?')"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                 </div>
                                <% }) %> -->
                    </div>

                    <label for="retail_price" class="col-sm-2 col-form-label">Price:</label>
                    <div class="col-sm-10">
                      <input type="text" name="price" value="<%= product.price %>" class="form-control"
                        id="retailPrice">
                    </div>

                    <label for="discount" class="col-sm-2 col-form-label">stock:</label>
                    <div class="col-sm-10">
                      <input type="text" name="stock" value="<%= product.stock %>" class="form-control" id="discount">
                    </div>

                    <label for="category_description" class="col-sm-2 col-form-label">Description:</label>
                    <div class="col-sm-10">
                      <input type="text" name="description" value="<%= product.description %>" class="form-control">
                    </div>
                  </div>
                  <center>
                    <button type="submit" class="text-center mt-4 btn btn-success">Submit</button>
                  </center>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>
    </div>



    <%- include('layout/footerAdmin') %>