<%- include('layout/headerUser') %>
<%- include('layout/formatPrice') %>


<header class="header-orders">
    <h1>Profile overview</h1>
</header>

<main class="manage-account-main-container">


    <div class="manage-account-container">
        <div class="personal-info">
            <div class="personal_info_heading">
                <h4>Name</h4>
                <input type="button" id="name-edit-button" class="btn btn-link name-edit-button" value="Edit"
                    onclick="editName()">
                <input type="button" id="name-change-cancel" class=" btn btn-link name-change-cancel"
                    style="display: none;" value="cancel" onclick="cancelNameChange()">
            </div>

            <input id="name-show-input" class="name-display" type="text" value="<%= user.name %>" readonly>


            <div id="nameChangeForm" class="name-change-form">
                <input name="name" id="nameChange" class="name-change" type="text" value="<%= user.name %>">
                <input type="button" class="btn btn-primary" name="" id="" value="change"
                    onclick="changeName()">
            </div>

        </div>

    </div>

</main>



















<%- include('layout/footerUser') %>