<%- include('layout/headerUser') %>
    <%- include('layout/formatPrice') %>


        <header class="header-orders">
            <h1>Profile overview</h1>
        </header>

        <main class="manage-account-main-container">


            <div class="manage-account-container">
                <div class="personal-info">
                    <div class="personal_info_heading">
                        <h4>Name</h4>
                        <input type="button" id="name-edit-button" class="btn btn-link name-edit-button" value="Edit"
                            onclick="editName()">
                        <input type="button" id="name-change-cancel" class=" btn btn-link name-change-cancel"
                            style="display: none;" value="cancel" onclick="cancelNameChange()">
                    </div>

                    <input id="name-show-input" class="name-display" type="text" value="<%= user.name %>" readonly>


                    <div id="nameChangeForm" class="name-change-form">
                        <input name="name" id="nameChange" class="name-change" type="text" value="<%= user.name %>">
                        <input type="button" class="btn btn-primary" name="" id="" value="change"
                            onclick="changeName()">
                    </div>

                </div>

                <div class="personal-info">
                    <div class="personal_info_heading">
                        <h4>Email</h4>
                        <input type="button" id="email-edit-button" class="btn btn-link name-edit-button" value="Edit"
                            onclick="editEmail()">
                        <input type="button" id="email-change-cancel" class=" btn btn-link name-change-cancel"
                            value="cancel" onclick="cancelEmailChange()">
                    </div>

                    <input id="email-show-input" class="name-display" type="text" value="<%= user.email %>" readonly>

                    <div id="emailChangeForm" class="name-change-form">
                        <label for="email">Enter new Email:</label>
                        <input class="name-change" type="email" name="email" id="new-email">
                        <input type="button" class="btn btn-primary" name="" id="" value="Get OTP"
                            onclick="changeEmail()">
                    </div>

                    <div id="otpVerify" class="otp-verify">
                        <label for="email">enter OTP</label>
                        <input class="name-change" id="otp" type="text" name="otp">
                        <input class="name-change" id="newEmail" type="email" name="email" hidden>
                        <input type="button" class="btn btn-primary" name="" id="" value="submit" onclick="verfiyOtp()">
                    </div>

                </div>



                <div class="personal-info">
                    <div class="personal_info_heading">
                        <h4>Contact Number</h4>
                        <input type="button" id="phone-edit-button" class="btn btn-link name-edit-button" value="Edit"
                            onclick="editPhone()">
                        <input type="button" id="phone-change-cancel" class=" btn btn-link name-change-cancel"
                            value="cancel" onclick="cancelPhoneChange()">
                    </div>

                    <input id="phone-show-input" class="name-display" type="text" value="<%= user.contactNumber %>"
                        readonly>


                    <div id="phoneChangeForm" class="name-change-form">
                        <input id="change-contactNumber" name="contactNumber" class="name-change" type="text"
                            value="<%= user.contactNumber %>">
                        <input type="button" class="btn btn-primary" name="" id="" value="change"
                            onclick="changePhone()">
                    </div>

                </div>

                <div class="change-password-btn">
                    <input type="button" name="" id="change-password" class="btn btn-danger" value="change password"
                        onclick="passwordInput()">
                    <p id="pass-message" style="display: none;color: red;"></p>
                </div>
                <div id="new-password-div" class="change-password">
                    <label for="oldPassword"> Old password :</label>
                    <input id="old-password" type="password" class="name-change" name="" id="">
                    <label for="newPassword"> New password :</label>
                    <input id="new-password" type="password" class="name-change" name="" id="">
                    <input type="button" class="btn btn-primary" name="" id="" value="change"
                        onclick="changePassword()">
                </div>

            </div>

        </main>



        <script>
            const editNameButton = document.getElementById('name-edit-button');
            const cancelEditName = document.getElementById('name-change-cancel');
            const nameShowInput = document.getElementById('name-show-input');
            const nameChangeForm = document.getElementById('nameChangeForm');

            const editEmailButton = document.getElementById('email-edit-button');
            const cancelEditEmail = document.getElementById('email-change-cancel');
            const emailShowInput = document.getElementById('email-show-input');
            const emailChangeForm = document.getElementById('emailChangeForm');

            const editPhoneButton = document.getElementById('phone-edit-button');
            const cancelEditPhone = document.getElementById('phone-change-cancel');
            const phoneShowInput = document.getElementById('phone-show-input');
            const phoneChangeForm = document.getElementById('phoneChangeForm');

            function editName() {

                editNameButton.style.display = 'none';
                cancelEditName.style.display = 'block';
                nameShowInput.style.display = 'none';
                nameChangeForm.style.display = 'block'
            }

            function cancelNameChange() {
                editNameButton.style.display = 'block';
                cancelEditName.style.display = 'none';
                nameShowInput.style.display = 'block';
                nameChangeForm.style.display = 'none'
            }
            function changeName() {
                const name = document.getElementById('nameChange').value

                fetch('/user/change-name', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ name }),
                })
                    .then(response => {
                        if (response.ok) {
                            nameShowInput.style.display = 'block';
                            editNameButton.style.display = 'block';
                            nameChangeForm.style.display = 'none';
                            cancelEditName.style.display = 'none';
                            nameShowInput.value = name;

                            return response.json(); // Parse the JSON response
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    })
            }

            function editEmail() {

                editEmailButton.style.display = 'none';
                cancelEditEmail.style.display = 'block';
                emailShowInput.style.display = 'none';
                emailChangeForm.style.display = 'block'
            }

            function cancelEmailChange() {
                editEmailButton.style.display = 'block';
                cancelEditEmail.style.display = 'none';
                emailShowInput.style.display = 'block';
                emailChangeForm.style.display = 'none'
            }


            function editPhone() {

                editPhoneButton.style.display = 'none';
                cancelEditPhone.style.display = 'block';
                phoneShowInput.style.display = 'none';
                phoneChangeForm.style.display = 'block'
            }

            function cancelPhoneChange() {
                editPhoneButton.style.display = 'block';
                cancelEditPhone.style.display = 'none';
                phoneShowInput.style.display = 'block';
                phoneChangeForm.style.display = 'none'
            }
            function changePhone() {
                const contactNumber = document.getElementById('change-contactNumber').value;
                fetch('/user/change-contact-number', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ contactNumber }),
                })
                    .then(response => {
                        if (response.ok) {
                            editPhoneButton.style.display = 'block';
                            cancelEditPhone.style.display = 'none';
                            phoneChangeForm.style.display = 'none'
                            phoneShowInput.style.display = 'block';
                            phoneShowInput.value = contactNumber;

                            return response.json(); // Parse the JSON response
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    })
            }

            function changeEmail() {
                const email = document.getElementById('new-email').value;
                const enterOtpInput = document.getElementById('otpVerify');

                fetch('/user/change-email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email }),
                })
                    .then(response => {
                        if (response.ok) {
                            enterOtpInput.style.display = 'block';
                            return response.json(); // Parse the JSON response
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    })
                    .then(data => {
                        const emailVerify = document.getElementById('newEmail');
                        emailVerify.value = email;
                    })
            };

            function verfiyOtp() {
                const newEmail = document.getElementById('newEmail').value;
                const otp = document.getElementById('otp').value;
                const enterOtpInput = document.getElementById('otpVerify');

                fetch('/user/verify-otp', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ newEmail, otp }),
                })
                    .then(response => {
                        if (response.ok) {
                            enterOtpInput.style.display = 'none';
                            emailChangeForm.style.display = 'none';
                            cancelEditEmail.style.display = 'none'
                            emailShowInput.style.display = 'block';
                            editEmailButton.style.display = 'block';
                            return response.json(); // Parse the JSON response
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    })
                    .then(data => {
                        emailShowInput.value = data.email;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }

            function passwordInput() {
                const chanagePasswordContainer = document.getElementById('new-password-div');
                chanagePasswordContainer.style.display = 'block';
            }
            function changePassword() {
                const newPassword = document.getElementById('new-password').value;
                const oldPassword = document.getElementById('old-password').value;
                const passMesssage = document.getElementById('pass-message');
                const chanagePasswordContainer = document.getElementById('new-password-div');

                fetch('/user/change-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ newPassword, oldPassword }),
                })
                    .then(response => {
                        if (response.ok) {
                            chanagePasswordContainer.style.display = 'none';
                            passMesssage.style.display = 'block';
                            document.getElementById('new-password').value= null;
                            document.getElementById('old-password').value=null;

                            return response.json(); // Parse the JSON response
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    })
                    .then(data => {
                        console.log(data.message);
                        passMesssage.innerHTML = data.message;
                    })
            }


        </script>





        <%- include('layout/footerUser') %>