<%- include('layout/headerUser') %>
<%- include('layout/formatPrice') %>


<div class="cover-image-container">
    <img id="cover-image" src="<%= images.cover %>" alt="Your Image">
    <div class="text-over-image">
        Off to the weekend Unforgettable short trips by bike
    </div>
</div>

<div class="product-container">
  <h1 class="product-heading">Top Products</h1>
  <div class="card-row">
    <% products.forEach(product => { %>
      <div class="product-card">
        <a href="/product-description?productid=<%= product.id %>">
          <img class="product-image" src="<%= imgUri %><%= product.imageUrl[0] %>" alt="">
          <h2><%= product.product_name %></h2>
          <h4>$<%= formatPrice(product.price) %></h4>
          <a href="/user/addToWishList"><i class='bx bx-heart'></i></a>
        </a>
      </div>
    <% }); %>
  </div>
</div>
<div class="pagination">
  <% if (page > 1) { %>
    <a href="?page=1">First</a>
    <a href="?page=<%= page - 1 %>">Previous</a>
  <% } %>

  <span>Page <%= page %> of <%= pageCount %></span>

  <% if (page < pageCount) { %>
      <a href="?page=<%= page + 1 %>">Next</a>
    <a href="?page=<%= pageCount %>">Last</a>
  <% } %>
</div>

<!-- 
  <div class="product-container">
    <h1 class="product-heading">Top Products</h1>
    <% products.forEach(product => { %>
      <a href="#">
        <div class="product-card">
        <img class="product-image" src="<%= imgUri %><%= product.imageUrl[0] %>" alt="">
        <h2><%= product.product_name %></h2>
        <h4>$<%= formatPrice(product.price) %></h4>
        <a href="/user/addToWishList"><i class='bx bx-heart'></i></a>
      </div>
    </a>
    <% }); %>
  </div>

  <div class="pagination">
    <% if (page > 1) { %>
      <a href="?page=1">First</a>
      <a href="?page=<%= page - 1 %>">Previous</a>
    <% } %>

    <span>Page <%= page %> of <%= pageCount %></span>

    <% if (page < pageCount) { %>
        <a href="?page=<%= page + 1 %>">Next</a>
      <a href="?page=<%= pageCount %>">Last</a>
    <% } %>
  </div>
 -->







<%- include('layout/footerUser') %>

