<%- include('layout/headerUser') %>
    <%- include('layout/formatPrice') %>

        <header class="header-order">
            <h1>Your Order</h1>
        </header>

        <main>
            <% if (order) { %>


                <div id="orderContainer<%= order._id %>" class="order-container">
                    <div class="invoice-container">
                        <% if (order.payment_status=='Completed' ){ %>
                            <a href="/user/download-invoice?orderId=<%= order._id %>"><input class="btn btn-primary"
                                    value="Download invoice"></a>
                            <% } %>

                    </div>


                    <div class="order-outline">
                        <div class="deliver-address">
                            <h4>Delivery Address</h4>
                            <% order.delivery_address.forEach(address=> { %>
                                <h6>
                                    <%= address.Name %>
                                </h6>
                                <p><span>
                                        <%= address.Address %>,
                                    </span><span>
                                        <%=address.City %>-
                                    </span><span>
                                        <%=address.Pincode %>
                                    </span></p>
                                <p>
                                    <%=address.State %>
                                </p>
                                <p>Phone Number :<%=address.ContactNumber %>
                                </p>
                                <% }) %>

                        </div>
                        <div>
                            <h4>Order Status</h4>
                            <p>
                                Order :<%= order.Status %>
                            </p>
                            <p>
                                Order date :<%= order.Order_date %>
                            </p>
                            <p>
                                Payment method :<%= order.payment_method %>
                            </p>
                            <p>
                                Payment Status :<%= order.payment_status %>
                                    <% if (order.payment_status==='Pending' ) { %>
                                        <input type="button" class="btn btn-success" value="Pay Now"
                                            onclick="payNow('<%= order._id %>')">
                                        <% } %>
                            </p>

                        </div>
                        <div class="order-cancel-button-container">

                            <% if (order.IsCancelled) { %> <!-- Use order.isCancelled here -->
                                <p>Order Cancelled</p>
                                <% } else { %>
                                    <!-- <a href="/user/cancel-order?orderId=<%=order.collectionId %>"
                                                onclick="return confirm('Are you sure you want to cancel this order?');"><input
                                                    type="text" class="btn btn-danger order-cancel-button"
                                                    value="Cancel Order"></a> -->
                                    <a onclick="handleCancel('<%= order._id %>')"><input type="text"
                                            class="btn btn-danger order-cancel-button" value="Cancel Order"></a>


                                    <div id="modal<%= order._id %>" class="modal">
                                        <span
                                            onclick="document.getElementById('modal<%= order._id %>').style.display='none'"
                                            class="close" title="Close Modal">×</span>
                                        <form class="modal-content" action="/user/cancel-order?orderId=<%= order._id %>"
                                            method="post">
                                            <div class="modal-container">
                                                <h1>Delete Account</h1>
                                                <p>Are you sure you want to cancel this
                                                    Order?
                                                </p>

                                                <div class="clearfix">
                                                    <button type="button"
                                                        onclick="document.getElementById('modal<%= order._id %>').style.display='none'"
                                                        class="cancelbtn">Cancel</button>
                                                    <button type="submit"
                                                        onclick="document.getElementById('modal<%= order._id %>').style.display='none'"
                                                        class="deletebtn">Confirm</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <% } %>

                        </div>
                    </div>
                    <% order.Items.forEach(product=> { %>
                        <section class="order">

                            <div>
                                <img class="order-image" src="<%= imgUri + product.imageUrl %>" alt="Image">

                            </div>
                            <div>
                                <p>
                                    <%= product.product_name.slice(0,20) %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    color: <%= product.color %>
                                </p>
                            </div>

                            <div>
                                <p>
                                    <%= product.quantity %> No
                                </p>
                            </div>
                            <div>
                                <p>Price: $<%= formatPrice(product.price)%>
                                </p>
                            </div>

                        </section>
                        <% }) %>
                            <section class="order-total">
                                <p class="discount-paragraph">Shipping cost: <span class="order-total-price">₹
                                        <%= formatPrice(300) %>
                                    </span></p>
                                <p class="discount-paragraph">Discount Applied: <span class="order-total-price">₹
                                        <%= formatPrice(order.coupon_discount) %>
                                    </span></p>
                                <p>Total Order price(including delivery charge): <span class="order-total-price">₹
                                        <%= formatPrice(order.total_price) %>
                                    </span></p>
                            </section>
                            <!-- <button onclick="downloadInvoice('<%= order._id %>')">Download Invoice</button> -->

                </div>

                <% }else {%>
                    <h4>No orders yet</h4>
                    <%}%>
        </main>



        <script>
            function handleCancel(orderId) {
                const modalDiv = document.getElementById('modal' + orderId);
                modalDiv.style.display = 'block';
            }
        </script>

        <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
        <script>
            async function downloadInvoice(orderId) {
                const orderContainer = document.getElementById('orderContainer' + orderId);

                // Use the async version of html2pdf to handle the promise
                const pdf = await html2pdf().from(orderContainer).outputPdf();

                // Create a blob from the PDF data
                const blob = new Blob([pdf], { type: 'application/pdf' });

                // Create a download link and trigger the download
                const link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'invoice.pdf';
                link.click();
            }
        </script>


        <script>
            function payNow(orderId) {

                fetch('/user/orders-pay', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ orderId })
                })
                    .then(response => response.json()) // Parse the JSON response
                    .then(data => {
                        const order = data.order;
                        const KEY_ID = data.KEY_ID;
                        // console.log(KEY_ID);
                        // console.log(order); // Access the 'order' property from the response
                        razorpayPayment(order, KEY_ID);

                    })

            }

            function razorpayPayment(order, KEY_ID) {

                var options = {
                    "key": KEY_ID,
                    "amount": order.amount,
                    "currency": "INR",
                    "name": "crazEbikes",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": order.id,
                    "handler": function (response) {
                        // alert(response.razorpay_payment_id);
                        // alert(response.razorpay_order_id);
                        // alert(response.razorpay_signature);

                        // Call verifyPayment with the response and order
                        verifyPayment(response, order);
                    },
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9000090000"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();

            }

            function verifyPayment(response, order) {
                fetch('/user/verify-payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ order, response }),
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/user/view-my-orders';
                        } else {
                            console.log("response not ok")
                        }
                    })
            }


        </script>







        <%- include('layout/footerUser') %>