<%- include('../layout/headerUser') %>
  <%- include('../layout/formatPrice') %>

    <div>
      <form action="/user/edit-address-form" method="post" onsubmit="return validateForm()">
        <div class="col-6 mb-3">
          <p class="mb-0">First name</p>
          <div class="form-outline">
            <input type="text" name="name" id="name" value="<%= deliveryAddress.name %>" placeholder="Type here"
              class="form-control" />
            <p id="nameError" class="text-danger"></p>
          </div>
        </div>
        <div class="col-6">
          <p class="mb-0">Contact Number</p>
          <div class="form-outline">
            <input type="text" name="contactNumber" id="contactNumber" value="<%= deliveryAddress.contactNumber %>"
              placeholder="Type here" class="form-control" />
            <p id="contactNumberError" class="text-danger"></p>
          </div>
        </div>
        <div class="col-6 mb-3">
          <p class="mb-0">Pincode</p>
          <div class="form-outline">
            <input type="text" name="pincode" id="pincode" value="<%= deliveryAddress.pincode %>"
              placeholder="Type here" class="form-control" />
            <p id="pincodeError" class="text-danger"></p>
          </div>
        </div>
        <div class="col-6 mb-3">
          <p class="mb-0">Address</p>
          <div class="form-outline">
            <input type="text" name="address" id="address" value="<%= deliveryAddress.address %>"
              placeholder="Type here" class="form-control" />
            <p id="addressError" class="text-danger"></p>
          </div>
        </div>
        <div class="col-6 mb-3">
          <p class="mb-0">City</p>
          <div class="form-outline">
            <input type="text" name="city" id="city" value="<%= deliveryAddress.city %>" placeholder="Type here"
              class="form-control" />
            <p id="cityError" class="text-danger"></p>
          </div>
        </div>
        <div class="col-6 mb-3">
          <p class="mb-0">State</p>
          <div class="form-outline">
            <input type="text" name="state" id="state" value="<%= deliveryAddress.state %>" placeholder="Type here"
              class="form-control" />
            <p id="stateError" class="text-danger"></p>
          </div>
        </div>
        <input type="text" name="userId" value="<%= userId %>" hidden>
        <input type="text" name="id" value="<%= deliveryAddress._id %>" hidden>


        <button class="btn btn-success shadow-0 border" type="submit">Save Changes</button>
      </form>
    </div>

    <script>
      function validateForm() {
        var name = document.getElementById("name").value;
        var contactNumber = document.getElementById("contactNumber").value;
        var pincode = document.getElementById("pincode").value;
        var address = document.getElementById("address").value;
        var city = document.getElementById("city").value;
        var state = document.getElementById("state").value;

        if (name === "") {
          document.getElementById("nameError").innerHTML = "Name cannot be empty";
          return false;
        } else {
          document.getElementById("nameError").innerHTML = "";
        }

        if (contactNumber === "") {
          document.getElementById("contactNumberError").innerHTML = "Contact Number cannot be empty";
          return false;
        } else if (!/^\d+$/.test(contactNumber) || contactNumber.length < 10) {
          document.getElementById("contactNumberError").innerHTML = "Invalid Contact Number";
          return false;
        } else {
          document.getElementById("contactNumberError").innerHTML = "";
        }

        if (pincode === "") {
          document.getElementById("pincodeError").innerHTML = "Pincode cannot be empty";
          return false;
        } else if (!/^\d+$/.test(pincode)) {
          document.getElementById("pincodeError").innerHTML = "Invalid Pincode";
          return false;
        } else {
          document.getElementById("pincodeError").innerHTML = "";
        }

        if (address === "") {
          document.getElementById("addressError").innerHTML = "Address cannot be empty";
          return false;
        } else {
          document.getElementById("addressError").innerHTML = "";
        }

        if (city === "") {
          document.getElementById("cityError").innerHTML = "City cannot be empty";
          return false;
        } else {
          document.getElementById("cityError").innerHTML = "";
        }

        if (state === "") {
          document.getElementById("stateError").innerHTML = "State cannot be empty";
          return false;
        } else {
          document.getElementById("stateError").innerHTML = "";
        }

        return true;
      }

    </script>

    <%- include('../layout/footerUser') %>