<%- include('../layout/headerUser') %>
    <%- include('../layout/formatPrice') %>



<% if (locals.order) { %>
 

        <main class="invoice-main">

            <div class="button-orders">
                <a onclick="downloadInvoice()"><button class="btn btn-success">Download Invoice</button></a>
                <section class="back-to-orders"><a href="/user/view-my-orders"><button class="btn btn-primary ">Back to
                            Orders</button></a></section>

            </div>

            <div id="orderContainer">
                <center>
                    <h1>Invoice</h1>
                </center>
                <hr>
                <div>
                    <h5 style="float: right; margin-right: 5px;">Inv.No : <%= order.invoiceNumber %></h5>
                    <div class="deliver-address">
                        <h4 >Delivery Address</h4>
    
                        <h6>
                            <%= order.delivery_address[0].Name %>
                        </h6>
                        <p><span>
                                <%= order.delivery_address[0].Address %>,
                            </span><span>
                                <%= order.delivery_address[0].City %>-
                            </span><span>
                                <%= order.delivery_address[0].Pincode %>
                            </span></p>
                        <p>
                            <%=order.delivery_address[0].State %>
                        </p>
                        <p>Phone Number :<%= order.delivery_address[0].ContactNumber %>
                        </p>
                    </div>
                    <div>
                        <h4>Order</h4>


                        <p>
                            Order date :<%= order.Order_date %>
                        </p>
                        <p>
                            Payment method :<%= order.payment_method %>
                        </p>

                    </div>

                </div>
                <% order.Items.forEach(product=> { %>
                    <section class="order-invoice">

                        <div>
                            <img class="order-image" src="<%= imgUri + product.imageUrl %>" alt="Image">

                        </div>
                        <div>
                            <p>
                                <%= product.product_name.slice(0,20) %>
                            </p>
                        </div>
                        <div>
                            <p>
                                color: <%= product.color %>
                            </p>
                        </div>

                        <div>
                            <p>
                                <%= product.quantity %> No
                            </p>
                        </div>
                        <div>
                            <p>Price: $<%= formatPrice(product.price)%>
                            </p>
                        </div>

                    </section>
                    <% }) %>
                        <hr>
                        </hr>
                        <section class="order-invoice-total">
                            <div style="display: grid; justify-content: end;">
                                <p class="discount-paragraph">Discount Applied: <span class="order-total-price">$
                                        <% if (order.coupon_amount!=null) { %>
                                            <%= formatPrice(order.coupon_amount) %>
                                                <% } else { %>
                                                    0
                                                    <% } %>
                                    </span></p>
                            </div>
                            <div>
                                <p>Total Order price(including delivery charge): <span class="order-total-price">$
                                        <%= formatPrice(order.total_price) %>
                                    </span></p>
                            </div>

                        </section>

            </div>


        </main>
        <% }  else {%>
            <p>No invoice available</p>
            <% } %>


        <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

        <script>
            function downloadInvoice() {
                const orderContainer = document.getElementById('orderContainer');
                html2pdf(orderContainer, {
                    margin: 10,
                    filename: 'invoice.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
                })
            }
        </script>



        <%- include('../layout/footerUser') %>