<%- include('../layout/headerUser') %>
    <%- include('../layout/formatPrice') %>

        <div class="error-container">
            <div class="error-content">
                <h1>Oops! Something went wrong</h1>
                <p>We're sorry, but there was an error processing your request.</p>
                <p>Status: <%= error.status %>
                </p>
                <p>Error Code: <%= error.statusCode %>
                </p>
                <!-- <p>Message: <%= error.message  %></p> -->
                <a href="/">Go to home page</a>
            </div>
        </div>

        <%- include('../layout/footerUser') %>